<div class="flex-row">
  <div class="container-header-dash" *ngIf="jsonConfig">
    <span class="text-wellcome-user">
      {{ jsonConfig.wellcomeDash }} {{ user?.name }}
    </span>

    <div>
      <span>
        {{ jsonConfig.infoNotifications }}
      </span>

      <span class="text-wellcome-color">
        {{ notifications.length }} {{ jsonConfig.alertsUnread }}
      </span>
    </div>
  </div>

  <div>
    <app-notifications [notifications]="notifications"></app-notifications>

    <app-profile></app-profile>

    <app-todos [todos]="todos"></app-todos>
  </div>
</div>
